<div class="section"></div>
<main>
    <center>
        <img class="responsive-img" style="width: 250px;"
            src="https://thumbs.gfycat.com/GrimyBetterAdder-max-1mb.gif" />
        <div class="section"></div>

        <h5 class="indigo-text">Please, login with Google Mail</h5>
        <div class="section"></div>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid rgb(133, 132, 132); background-color:blueviolet;">

                <form class="col s12">
                    <img src="https://www.pngmart.com/files/17/Task-PNG-Transparent-Image.png"
                        style="height:30%;width:30%;">

                    <br><br>
                    <div class='row'>
                        <a href="/auth/google" class="btn red darken-1"><b>Google Login</b></i></a>
                    </div>

    </center>
    </form>
    </div>
    </div>

</main>