<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="/js/statistics.js"></script>
</head>
<div class="container">
    <div id="alltasks" style="display: none;">
        {{alltasksStr}}
    </div>
    <h4 style="color:white">{{fullname}},</h4>
    <h5 style="color:white">Here are your Statistics...</h5>
    <br>
    <div class="float-container">

        <div class="float-child">
            <div id="myPlot"></div>
        </div>

        <div class="float-child">
            <div id="myDonught"></div>
        </div>

    </div>


</div>