<ul id="dropdown1" class="dropdown-content" style="background-color:black;">
    <li><a href="/tasks">Tasks</a></li>
    <li class="divider"></li>
    <li><a href="/tasks/done">Done</a></li>
    <li class="divider"></li>
    <li><a href="/tasks/statistics">Statistics</a></li>
</ul>
<nav>

    <nav class="nav-wrapper">
        <img src="{{name}}"
            style="width: 35px; height: 35px; border-radius: 17px; position:relative; right:-10px; top:12px;">

        <a class=" brand-logo center">To do list</a>

        <ul class="right hide-on-med-and-down">

            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" data-target="dropdown1">
                    <div class="bar" style="visibility:hidden;"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </a>
            </li>
            <li>
                <dic class="button" href="">
                    <a href="/auth/logout" class="logout"><i class="fa fa-sign-out"
                            style="font-size:48px;color:rgb(252, 253, 253)"></i>
                    </a>
                </dic>
            </li>
        </ul>


    </nav>

</nav>