<script type="text/javascript" src="/js/trash.js"></script>
<div class="container">
    <div class="trashbox">
        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
    </div>
    <div id="modal-assure" style="visibility: hidden;" role="dialog">
        <h4><b>Are you sure?</b></h4>
        <br>
        <button class="waves-effect waves-light btn-large" id="btn-yes">
            Yes
        </button>
        <button class="waves-effect waves-light btn-large red" id="btn-no">
            No
        </button>
    </div>
</div>